.main-layout {
    display: flex;
    flex: 1;
    gap: 2rem;
    align-items: stretch;
}

.left-side {
    width: 35%;
    padding: 1rem;
    box-sizing: border-box;
}

.right-side {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
}

.list-or-nothing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #FFD700;
    border: 1px solid green;
    box-shadow: 0 0 5px #FFD700;
    border-radius: 16px;
    overflow-x: auto;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 1),
            /* viac čierna zľava */
            rgba(0, 0, 0, 0.05)
            /* takmer priehľadné napravo */
        );
    /* skoro neviditeľné pozadie */
    backdrop-filter: blur(12px);
    /* silné rozmazanie za tabuľkou */
    -webkit-backdrop-filter: blur(12px);
}

.list-or-nothing::-webkit-scrollbar {
    display: none;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {

    .main-layout {
        flex-direction: column;
        gap: 1rem;
    }

    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}